@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
	height: 100vh;
}

.menu-item > .active-link > svg path {
	stroke: #fff;
}
.menu-item > svg path {
	stroke: #8d8d8d;
}

.disabled-icon > path,
.icon-link > svg > path {
	stroke: #8d8d8d;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

.tabs{
	https://first-class-blush.vercel.app/communities/JtU6N5UR7qxDWM2Iv6p0
}